<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr class="header">
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= user.name %></td>
        
        <td class="list_actions">
          <%= link_to 'Show', user %><br/>
          <%= link_to 'Edit', edit_user_path(user) %><br/>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
