<p id="notice"><%= notice %></p>

<%= render @cart %>

<!-- <h2>Your Pragmatic Cart</h2>
<ul>
	<% @cart.line_items.each do |item| %>
	<li><%= item.quantity %> &times; <%= item.product.title %></li>
		<li><%= item.product.title %></li>
	<% end %>
</ul> 
-->

<!-- <h2>Your Cart</h2>
<table>
	<% @cart.line_items.each do |item| %>
	<%= render(@cart.line_items) %>
	<tr>
		<td><%= item.quantity %>&times;</td>
		<td><%= item.product.title %> (@<%= to_rupiah(item.product.price) %>)</td>
		<td class="item_price"><%= to_rupiah(item.total_price) %></td>
	</tr>
	<% end %>

	<tr class="total_line">
		<td colspan="2" id="space"><b>Total :</b></td>
		<td class="total_cell"><%= to_rupiah(@cart.total_price) %></td>
	</tr>
</table>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure..?' } %>
-->

<!-- 
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
 -->