<p id="notice"><%= notice %></p>

<h1>Your Pragmatic Catalog</h1>

<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%= product.title %></h3>
		<p><span class="desc"><%= sanitize(product.description) %></span></p>
		<div class="price_line">
			<span class="price"><%= to_rupiah(product.price) %></span>
		</div>
	</div>
<% end %>